
.controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.colors-list > div {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    float: left;
    margin-right: 5px;
}

